p {
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px 0 40px 0;
}

.grid-items img {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    text-align: center;
}

.grid-items {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    padding: 10px 60px 0 60px;
}

.searchBox {
    border: 2px solid maroon;
    max-width: 400px;
    padding: 15px;
}

button {
    background-color: maroon;
    border: 2px solid maroon;
    border-radius: 20px;
    color: white;
    padding: 10px;
}

.search {
    border-radius: 10px;
    height: 30px;
}